BasedOnStyle: LLVM
ColumnLimit: 120
NamespaceIndentation: All
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterClass: true
PointerAlignment: Left