BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 3
ContinuationIndentWidth: 3
AccessModifierOffset: -3
NamespaceIndentation: All
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterClass: true
PointerAlignment: Left
AlwaysBreakTemplateDeclarations: 'Yes'
